html {
  height: 100%;
}

.todo-header-nav {
  background: black;
}

body {
  font-family: 'Open Sans';
  color: black;
  min-height: 100%;
  background: #F7F7F7;
  padding-bottom: 100px;
  text-align: center;
}

.landing-content {
  background: #A1A4A1;
  text-indent: 10px;
}

a {
  line-height: 45px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.2;
  font-size: 25px ;
  color: white;
  text-indent: 10px;
}

p.subtext {
  font-size: 20px;
  text-align: left;
  text-indent: 20px;
}

table td {
  padding: 5px; 
  border: 2px solid #000;
}

tbody tr:hover {
  background-color: #FFF;
}

.complete {
  text-decoration: line-through;
  color: #AFAFAF;
}

.expired {
  text-decoration: line-through;
  color: #FF0000;
}