<div class="landing-content">
    <p class="subtext">{{header}}</p>
</div>

<div class="col-md-4">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Days Left</th>
        <th>Complete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in items">
        <td ng-class="{'true': complete}">{{item.title}}</td>
        <td ng-class="{'true': complete}">{{item.days}}</td>
          <input type="checkbox" ng-model="complete"/>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <input type="text" ng-model="todoTitle" size="25"/>
      <button ng-click="addTodo()">Add</button>
    </tfoot>
  </table>
</div>
