<div class="landing-content">
    <p class="subtext">{{header}}</p>
</div>

<div class="col-md-4">
  <input type="text" ng-model="todoTitle" size="25"/>
  <button ng-click="addTodo()">Add</button>

  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Days Left</th>
        <th>Complete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-class="{expired: expiredTodo(item)}" ng-repeat="item in items">
        <td ng-class="{complete: complete}">{{item.item}}</td>
        <td ng-class="{complete: complete}">{{item.days}}</td>
        <td>
          <input type="checkbox" ng-model="complete"/>
        </td>
      </tr>
    </tbody>
  </table>
</div>
